<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--DEV-->
    <!--
    <add key="CskAuthorizedUserName" value="*" />
    <add key="CskAuthorizedPassword" value="*" />-->
    <!--QA-->
    <add key="CskAuthorizedUserName" value="*"/>
    <add key="CskAuthorizedPassword" value="*"/>
    <!--PROD
    <add key="CskAuthorizedUserName" value="*"/>
    <add key="CskAuthorizedPassword" value="*"/>-->
    
    <add key="EnablePrintLog" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebsiteDataSoap" maxReceivedMessageSize="2147483647" openTimeout="00:5:00" sendTimeout="00:5:00" closeTimeout="00:5:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="*.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebsiteDataSoap"
        contract="WebsiteDataService.WebsiteDataSoap" name="WebsiteDataSoap" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>